// // Variables
//
$primary: #ED1B2D;
$black: #000;
$white: #fff;
// $primary-rgb: 239,96,77;
// $secondary: #3e7f8b;
// $secondary-rgb: 89,154,166;
// $success: #57d685;
// $success-rgb: 87,214,133;
// $warning: #ffae00;
// $warning-rgb: 255,174,0;
// $alert: #ec5840;
// $alert-rgb: 236,88,64;
// $highlight: #be6400;
// $highlight-rgb: 190,100,0;
// $highlight-alternative: #ff5731;
// $highlight-alternative-rgb: 255,87,49;
//
// $proposals: #238ff7;
// $actions: #57d685;
// $debates: #fa6c96;
// $meetings: #fabc6c;
//
// $twitter: #55acee;
// $facebook: #3b5998;
// $google: #4285f4;
//
// // background colors used in public diff views
// $color-addition: #e6ffed;
// $color-removal: #ffeef0;

// Personalization for language chooser on header
.main-bar__links-desktop {
  @media (min-width: 768px){
    [data-target*=dropdown] {
      @apply block min-w-16;
      div {
        @apply block text-secondary text-sm text-center;
        svg {
          @apply inline-block;
        }
      }
    }
  }
  .main-header__language-chooser {
    @apply relative z-10;

    > ul {
      @apply absolute left-0 bg-white p-4 shadow-md text-left;
      >li {
        @apply text-secondary text-md hover:underline hover:bg-secondary hover:text-white transition;
        >a {
          @apply p-2 w-full block;
        }
      }
    }
  }
}

// Personalization for topbar____logo_gobierno
.logo-wrapper-open-government-right {
  @apply flex flex-row gap-2;

  .logo-wrapper-open-government-links {
    @apply text-primary;
  }

  .logo-link-2 {
    @apply w-full whitespace-nowrap;
  }
}

footer {
  .main-footer {
    @apply bg-white text-black;

    .main-footer__top {
      @apply flex flex-col;
    }

    ul {
      li {
        @apply inline;

        &:not(:last-child) {
          &:after {
            content: '|';
            padding: 0 .25rem;
            display: inline-block;
            color: $black;
            font-size: 14px
          }
        }

      }

    }
    .main-footer-top-first {
      @apply w-full bg-white;

      .logos-navarra-main-footer-top-first {
        @apply flex flex-row justify-center items-center gap-1;

        .logo-navarra-footer-detail {
          @apply w-1 h-12 inline-block;

          .logo-navarra-footer-detail-red {
            @apply h-[70%] bg-background-6;
          }

          .logo-navarra-footer-detail-blue {
            @apply h-[30%] bg-background-7
          }
        }

        .logo-gobierno-navarra-footer {
          @apply max-w-full max-h-14;
        }
      }

      .logo-navarra-footer-container {
        @apply text-center;
      }
    }
  }
}
